@font-face {
    font-family: "High tide";
    src: url("fonts/High Tide - Demo.ttf");
}
@font-face {
    font-family: "Jtmw";
    src:url("fonts/Just tell me what regular (Version 2).otf");
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




.contactinfo p{
    font-size: 30px;
}
.contactinfo {
    margin-top: 50px;
}

.topdiv {
    margin-top: 0;
    height: 800px;
    background: url(images/bnwwsize.jpg) no-repeat;
    background-size: 100% 90%;


}
.navbar {
    margin-bottom: 0;
}
.overlaytext {
    margin: 0;
    padding: 0;
    
}
.topdiv h1, .topdiv p {
    margin: 0;
    padding: 0;
    color: white;
    

}
.topdiv h1{
    padding-top: 10%;
    font-family: High tide;
    font-size: 10vw;
    /*margin-left:25%;
    margin-right: 25%;*/
    /*margin: 0 25% 0 15%;*/
    margin: auto;
    display: block;
    text-align: center;
    
    
    
}
.topdiv p {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Jtmw;
    font-size: 2.5vw;
}
.navbar-fixed-top{
    background-color: #33ffad;
}
ul.nav li a, .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.titlediv {
    
    text-align: center;
}

.titlediv h1 {
    font-size: 70px;
    font-family: Jtmw;
    
}
.item {
    background: gray;
    padding: 0;
}
.itemanchor{
    display: block;
    text-decoration: none !important;
    color: black;
    text-align: center;

}
.projectitem {
    border: 20px solid white;
    background-color: #33ffad;
    padding: 0;
}
.row {

    display: block;
    text-align: center;
}
#profilepic {
    display: block;
    margin: auto;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.modalcontent p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 2vw;
}
.modalcontent h2, .modalcontent a {
    text-align: left;
    font-family: Jtmw;
    font-size: 2vw;
    overflow-wrap: break-word;
}
.modalcontent h1 {
    font-family: Jtmw;
    font-size: 4vw;
}
.modalcontent img {
    margin: auto;
}
.modalcontent{
    
    margin-left: 5%;
    margin-right: 5%;
}
.modalcontent h3{
    font-size: 2vw;
    
}
#downloadbutton {
    
    font-size: 1.5vw;
    font-family: Jtmw;
    border-radius: 15px;
    background-color: #33ffad;

    color: #0099ff;
}