
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>privateroomMVC</title>
</head>
<body>
<div>
    <p>lalla</p>
</div>
<script>
    var ws;

    
    var url = 'ws://localhost:57029/api/privateroom';

    ws = new WebSocket(url);

    ws.onerror = function (e) {
        console.log("error");
        //conversation.append(createSpan('problem with connection'));
    };
    ws.onopen = function () {
        console.log("has connected");
        //conversation.innerHTML = 'Client connected <br/>';
    };

    ws.onmessage = function (e) {
        console.log(e);
        console.log(e.data.toString());
        //conversation.append(createSpan(e.data.toString()));
        //$('#conversation').val($('#conversation').val() + "\n" + e.data.toString());
        //$('#conversation').scrollTop($('#conversation')[0].scrollHeight);
    };

    ws.onclose = function () {
        console.log("has gone away");
        //conversation.innerHTML = 'Closed connection!';
    };
</script>
</body>
</html>
