
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../Scripts/ForceDirectedGraph/flags/flags.css" />
    <link rel="stylesheet" type="text/css" href="../../Scripts/ForceDirectedGraph/mycss.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <style>
        .githubsourcecode {
            position: absolute;
        }
    </style>

</head>
<body>
    <a class="githubsourcecode" href="https://github.com/rdelosh/vicsportal/tree/master/vicsportal/vicsportal/Scripts/ForceDirectedGraph">Github Source Code</a>
    <div id='countries'></div>
    <script src="../../Scripts/ForceDirectedGraph/myjs.js"></script>
</body>
</html>