
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../Scripts/MapDataAcrossGlobe/mycss.css" />

</head>
<body>
    <a class="githubsourcecode" href="https://github.com/rdelosh/vicsportal/tree/master/vicsportal/vicsportal/Scripts/MapDataAcrossGlobe">Github Source Code</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.js"></script>
    <script src="../../Scripts/MapDataAcrossGlobe/myjs.js"></script>
</body>
</html>