
@{
    ViewBag.Title = "WikipediaViewer";
    Layout = null;
}

<html>
<head>
    
    <title>WikipediaViewer</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="../../Content/WikipediaViewerCSS.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <h1>WikipediaViewer</h1>
        <a class="randompage" href="https://en.wikipedia.org/wiki/Special:Random">Random Page</a>
        
        <br/>
        <input id="searchbar" type="text" placeholder="Search"/>
    </div>
    

    <div class="searchresults row">


    </div>
</div>
    
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    var querydata;


    $("#searchbar").on('input', function () {
        showfounddata();
    })

    function showfounddata() {
        $.ajax({
            url: "https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=" + $("#searchbar").val() + "&format=json",
            default: "GET",
            dataType: 'jsonp',
            headers: { 'Api-User-Agent': 'Example/1.0' },
            success: function (data) {
                var generatedhtml="";
                querydata = data.query.search;
                console.log(data.query.search)
                data.query.search.forEach(function (element) {
                    generatedhtml = generatedhtml + generateHTML(element);
                    $(".searchresults").html(generatedhtml);
                })
            }
        })
            
    }
    function generateHTML(element) {
            

        return "<a href=http://en.wikipedia.org/?curid="+element.pageid+"<div class='singleresult row'>" +
            "<h3>" +
            element.title +
            "</h3>" +
            "<p>" +
            element.snippet +
            "</p>" +
            "</div>" +
            "</a>";

    }
</script>
</body>
</html>


    
    

